.competencies-card {
    margin: 0.5em 0.5em;
    padding: 0 1em;
    display: inline-block;
    background-color: #dfdfdf;
    border-radius: 0.5em;
}

.competencies {
  font-size: 1em;
  color: #131313;
}

.competencies-want {
  position: relative;
  display: flex;
  justify-content: center;
}