footer {
    position: relative;
    height: 3em;
  
    overflow: hidden;
    padding: 0 1em;
    background-color: #383838;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0 -0.2em 0.6em rgb(0, 0, 0,.1);
  }
  
  .footer-nav {
    height: inherit;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .footer-nav li {
    display: inline-block;
  }
  
  .footer-nav li a {
    color: rgb(163, 163, 163);
    font: menu;
    font-size: medium;
    width: max-content;
    position: relative;
    margin: 80px auto;
    transition: color 300ms;
  }
  
  .footer-nav li a:hover {
    color: rgba(100, 198, 255, 0.7);
  }
  
  .footer-nav li a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: rgba(100, 198, 255, 0.7);
    transition: 200ms ease-in-out;
    transform: scaleX(0);
  }
  
  .footer-nav li a:hover::after {
    transform: scaleX(1);
  }