#root {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto auto;
  padding: 0 2rem 0;
}

.container {
  min-height: 54.5em;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1em 2em ;
  background-color: #292929;
}

.light-box {
  padding: 0.5em 0;
  background-color: #383838;
  border-radius: 1em;
  position: relative;
}

.maincard {
  margin: 2em 0;
  padding: 3em 4em;
  text-align: start;
  
}

.avatar {
  will-change: filter;
  transition: filter 300ms;
}
.avatar:hover {
  filter: drop-shadow(0 0 1.5em #00e1ffaa);
}
.avatar.react:hover {
  filter: drop-shadow(0 0 1.5em #00e1ffaa);
}

.name {
  margin-top: 0;
  font-size: 2.5em;
  color: #ffffff;
}

.grid {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
}
